@import '@/assets/style/common.scss';

[data-component='header'] {
  background: $colorNavBg;
  min-width: 950px;
  padding: 0 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;

  .header-split {
    width: 1px;
    height: 20px;
    background: $colorNavSplit;
    margin-left: 24px;
  }
}
